/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$c-android-name: 'c-Android';
$c-android-x: 160px;
$c-android-y: 215px;
$c-android-offset-x: -160px;
$c-android-offset-y: -215px;
$c-android-width: 20px;
$c-android-height: 20px;
$c-android-total-width: 257px;
$c-android-total-height: 253px;
$c-android-image: '../images/icons-11221108.png';
$c-android: (160px, 215px, -160px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'c-Android', );
$c-mac-name: 'c-Mac';
$c-mac-x: 20px;
$c-mac-y: 175px;
$c-mac-offset-x: -20px;
$c-mac-offset-y: -175px;
$c-mac-width: 20px;
$c-mac-height: 20px;
$c-mac-total-width: 257px;
$c-mac-total-height: 253px;
$c-mac-image: '../images/icons-11221108.png';
$c-mac: (20px, 175px, -20px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'c-Mac', );
$c-p-c-name: 'c-PC';
$c-p-c-x: 220px;
$c-p-c-y: 120px;
$c-p-c-offset-x: -220px;
$c-p-c-offset-y: -120px;
$c-p-c-width: 20px;
$c-p-c-height: 20px;
$c-p-c-total-width: 257px;
$c-p-c-total-height: 253px;
$c-p-c-image: '../images/icons-11221108.png';
$c-p-c: (220px, 120px, -220px, -120px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'c-PC', );
$c-windows-name: 'c-Windows';
$c-windows-x: 60px;
$c-windows-y: 215px;
$c-windows-offset-x: -60px;
$c-windows-offset-y: -215px;
$c-windows-width: 20px;
$c-windows-height: 20px;
$c-windows-total-width: 257px;
$c-windows-total-height: 253px;
$c-windows-image: '../images/icons-11221108.png';
$c-windows: (60px, 215px, -60px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'c-Windows', );
$c-i-o-s-name: 'c-iOS';
$c-i-o-s-x: 200px;
$c-i-o-s-y: 60px;
$c-i-o-s-offset-x: -200px;
$c-i-o-s-offset-y: -60px;
$c-i-o-s-width: 20px;
$c-i-o-s-height: 20px;
$c-i-o-s-total-width: 257px;
$c-i-o-s-total-height: 253px;
$c-i-o-s-image: '../images/icons-11221108.png';
$c-i-o-s: (200px, 60px, -200px, -60px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'c-iOS', );
$c-more-name: 'c-more';
$c-more-x: 200px;
$c-more-y: 0px;
$c-more-offset-x: -200px;
$c-more-offset-y: 0px;
$c-more-width: 20px;
$c-more-height: 20px;
$c-more-total-width: 257px;
$c-more-total-height: 253px;
$c-more-image: '../images/icons-11221108.png';
$c-more: (200px, 0px, -200px, 0px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'c-more', );
$c-qr-name: 'c-qr';
$c-qr-x: 120px;
$c-qr-y: 215px;
$c-qr-offset-x: -120px;
$c-qr-offset-y: -215px;
$c-qr-width: 20px;
$c-qr-height: 20px;
$c-qr-total-width: 257px;
$c-qr-total-height: 253px;
$c-qr-image: '../images/icons-11221108.png';
$c-qr: (120px, 215px, -120px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'c-qr', );
$icon-addfolder-name: 'icon-addfolder';
$icon-addfolder-x: 40px;
$icon-addfolder-y: 195px;
$icon-addfolder-offset-x: -40px;
$icon-addfolder-offset-y: -195px;
$icon-addfolder-width: 20px;
$icon-addfolder-height: 20px;
$icon-addfolder-total-width: 257px;
$icon-addfolder-total-height: 253px;
$icon-addfolder-image: '../images/icons-11221108.png';
$icon-addfolder: (40px, 195px, -40px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-addfolder', );
$icon-android-name: 'icon-android';
$icon-android-x: 30px;
$icon-android-y: 90px;
$icon-android-offset-x: -30px;
$icon-android-offset-y: -90px;
$icon-android-width: 30px;
$icon-android-height: 30px;
$icon-android-total-width: 257px;
$icon-android-total-height: 253px;
$icon-android-image: '../images/icons-11221108.png';
$icon-android: (30px, 90px, -30px, -90px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-android', );
$icon-arrow-down-name: 'icon-arrow-down';
$icon-arrow-down-x: 20px;
$icon-arrow-down-y: 195px;
$icon-arrow-down-offset-x: -20px;
$icon-arrow-down-offset-y: -195px;
$icon-arrow-down-width: 20px;
$icon-arrow-down-height: 20px;
$icon-arrow-down-total-width: 257px;
$icon-arrow-down-total-height: 253px;
$icon-arrow-down-image: '../images/icons-11221108.png';
$icon-arrow-down: (20px, 195px, -20px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-arrow-down', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 0px;
$icon-arrow-right-y: 195px;
$icon-arrow-right-offset-x: 0px;
$icon-arrow-right-offset-y: -195px;
$icon-arrow-right-width: 20px;
$icon-arrow-right-height: 20px;
$icon-arrow-right-total-width: 257px;
$icon-arrow-right-total-height: 253px;
$icon-arrow-right-image: '../images/icons-11221108.png';
$icon-arrow-right: (0px, 195px, 0px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-arrow-right', );
$icon-blank-name: 'icon-blank';
$icon-blank-x: 120px;
$icon-blank-y: 0px;
$icon-blank-offset-x: -120px;
$icon-blank-offset-y: 0px;
$icon-blank-width: 30px;
$icon-blank-height: 30px;
$icon-blank-total-width: 257px;
$icon-blank-total-height: 253px;
$icon-blank-image: '../images/icons-11221108.png';
$icon-blank: (120px, 0px, -120px, 0px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-blank', );
$icon-cancel-blue-name: 'icon-cancel-blue';
$icon-cancel-blue-x: 200px;
$icon-cancel-blue-y: 160px;
$icon-cancel-blue-offset-x: -200px;
$icon-cancel-blue-offset-y: -160px;
$icon-cancel-blue-width: 20px;
$icon-cancel-blue-height: 20px;
$icon-cancel-blue-total-width: 257px;
$icon-cancel-blue-total-height: 253px;
$icon-cancel-blue-image: '../images/icons-11221108.png';
$icon-cancel-blue: (200px, 160px, -200px, -160px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-cancel-blue', );
$icon-cancel-gray-name: 'icon-cancel-gray';
$icon-cancel-gray-x: 200px;
$icon-cancel-gray-y: 100px;
$icon-cancel-gray-offset-x: -200px;
$icon-cancel-gray-offset-y: -100px;
$icon-cancel-gray-width: 20px;
$icon-cancel-gray-height: 20px;
$icon-cancel-gray-total-width: 257px;
$icon-cancel-gray-total-height: 253px;
$icon-cancel-gray-image: '../images/icons-11221108.png';
$icon-cancel-gray: (200px, 100px, -200px, -100px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-cancel-gray', );
$icon-clear-name: 'icon-clear';
$icon-clear-x: 200px;
$icon-clear-y: 80px;
$icon-clear-offset-x: -200px;
$icon-clear-offset-y: -80px;
$icon-clear-width: 20px;
$icon-clear-height: 20px;
$icon-clear-total-width: 257px;
$icon-clear-total-height: 253px;
$icon-clear-image: '../images/icons-11221108.png';
$icon-clear: (200px, 80px, -200px, -80px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-clear', );
$icon-close-20-name: 'icon-close-20';
$icon-close-20-x: 120px;
$icon-close-20-y: 175px;
$icon-close-20-offset-x: -120px;
$icon-close-20-offset-y: -175px;
$icon-close-20-width: 20px;
$icon-close-20-height: 20px;
$icon-close-20-total-width: 257px;
$icon-close-20-total-height: 253px;
$icon-close-20-image: '../images/icons-11221108.png';
$icon-close-20: (120px, 175px, -120px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-close-20', );
$icon-close-45-name: 'icon-close-45';
$icon-close-45-x: 0px;
$icon-close-45-y: 45px;
$icon-close-45-offset-x: 0px;
$icon-close-45-offset-y: -45px;
$icon-close-45-width: 45px;
$icon-close-45-height: 45px;
$icon-close-45-total-width: 257px;
$icon-close-45-total-height: 253px;
$icon-close-45-image: '../images/icons-11221108.png';
$icon-close-45: (0px, 45px, 0px, -45px, 45px, 45px, 257px, 253px, '../images/icons-11221108.png', 'icon-close-45', );
$icon-comment-name: 'icon-comment';
$icon-comment-x: 100px;
$icon-comment-y: 175px;
$icon-comment-offset-x: -100px;
$icon-comment-offset-y: -175px;
$icon-comment-width: 20px;
$icon-comment-height: 20px;
$icon-comment-total-width: 257px;
$icon-comment-total-height: 253px;
$icon-comment-image: '../images/icons-11221108.png';
$icon-comment: (100px, 175px, -100px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-comment', );
$icon-companybaseinfo-name: 'icon-companybaseinfo';
$icon-companybaseinfo-x: 80px;
$icon-companybaseinfo-y: 175px;
$icon-companybaseinfo-offset-x: -80px;
$icon-companybaseinfo-offset-y: -175px;
$icon-companybaseinfo-width: 20px;
$icon-companybaseinfo-height: 20px;
$icon-companybaseinfo-total-width: 257px;
$icon-companybaseinfo-total-height: 253px;
$icon-companybaseinfo-image: '../images/icons-11221108.png';
$icon-companybaseinfo: (80px, 175px, -80px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-companybaseinfo', );
$icon-companycustom-name: 'icon-companycustom';
$icon-companycustom-x: 180px;
$icon-companycustom-y: 215px;
$icon-companycustom-offset-x: -180px;
$icon-companycustom-offset-y: -215px;
$icon-companycustom-width: 20px;
$icon-companycustom-height: 19px;
$icon-companycustom-total-width: 257px;
$icon-companycustom-total-height: 253px;
$icon-companycustom-image: '../images/icons-11221108.png';
$icon-companycustom: (180px, 215px, -180px, -215px, 20px, 19px, 257px, 253px, '../images/icons-11221108.png', 'icon-companycustom', );
$icon-coop-name: 'icon-coop';
$icon-coop-x: 180px;
$icon-coop-y: 120px;
$icon-coop-offset-x: -180px;
$icon-coop-offset-y: -120px;
$icon-coop-width: 20px;
$icon-coop-height: 20px;
$icon-coop-total-width: 257px;
$icon-coop-total-height: 253px;
$icon-coop-image: '../images/icons-11221108.png';
$icon-coop: (180px, 120px, -180px, -120px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-coop', );
$icon-copy-name: 'icon-copy';
$icon-copy-x: 180px;
$icon-copy-y: 100px;
$icon-copy-offset-x: -180px;
$icon-copy-offset-y: -100px;
$icon-copy-width: 20px;
$icon-copy-height: 20px;
$icon-copy-total-width: 257px;
$icon-copy-total-height: 253px;
$icon-copy-image: '../images/icons-11221108.png';
$icon-copy: (180px, 100px, -180px, -100px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-copy', );
$icon-delete-name: 'icon-delete';
$icon-delete-x: 50px;
$icon-delete-y: 150px;
$icon-delete-offset-x: -50px;
$icon-delete-offset-y: -150px;
$icon-delete-width: 20px;
$icon-delete-height: 20px;
$icon-delete-total-width: 257px;
$icon-delete-total-height: 253px;
$icon-delete-image: '../images/icons-11221108.png';
$icon-delete: (50px, 150px, -50px, -150px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-delete', );
$icon-edit-blue-name: 'icon-edit-blue';
$icon-edit-blue-x: 120px;
$icon-edit-blue-y: 195px;
$icon-edit-blue-offset-x: -120px;
$icon-edit-blue-offset-y: -195px;
$icon-edit-blue-width: 20px;
$icon-edit-blue-height: 20px;
$icon-edit-blue-total-width: 257px;
$icon-edit-blue-total-height: 253px;
$icon-edit-blue-image: '../images/icons-11221108.png';
$icon-edit-blue: (120px, 195px, -120px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-edit-blue', );
$icon-edit-name: 'icon-edit';
$icon-edit-x: 40px;
$icon-edit-y: 215px;
$icon-edit-offset-x: -40px;
$icon-edit-offset-y: -215px;
$icon-edit-width: 20px;
$icon-edit-height: 20px;
$icon-edit-total-width: 257px;
$icon-edit-total-height: 253px;
$icon-edit-image: '../images/icons-11221108.png';
$icon-edit: (40px, 215px, -40px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-edit', );
$icon-excel-name: 'icon-excel';
$icon-excel-x: 150px;
$icon-excel-y: 90px;
$icon-excel-offset-x: -150px;
$icon-excel-offset-y: -90px;
$icon-excel-width: 30px;
$icon-excel-height: 30px;
$icon-excel-total-width: 257px;
$icon-excel-total-height: 253px;
$icon-excel-image: '../images/icons-11221108.png';
$icon-excel: (150px, 90px, -150px, -90px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-excel', );
$icon-excelmenu-name: 'icon-excelmenu';
$icon-excelmenu-x: 80px;
$icon-excelmenu-y: 215px;
$icon-excelmenu-offset-x: -80px;
$icon-excelmenu-offset-y: -215px;
$icon-excelmenu-width: 20px;
$icon-excelmenu-height: 20px;
$icon-excelmenu-total-width: 257px;
$icon-excelmenu-total-height: 253px;
$icon-excelmenu-image: '../images/icons-11221108.png';
$icon-excelmenu: (80px, 215px, -80px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-excelmenu', );
$icon-exe-name: 'icon-exe';
$icon-exe-x: 150px;
$icon-exe-y: 60px;
$icon-exe-offset-x: -150px;
$icon-exe-offset-y: -60px;
$icon-exe-width: 30px;
$icon-exe-height: 30px;
$icon-exe-total-width: 257px;
$icon-exe-total-height: 253px;
$icon-exe-image: '../images/icons-11221108.png';
$icon-exe: (150px, 60px, -150px, -60px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-exe', );
$icon-favorite-name: 'icon-favorite';
$icon-favorite-x: 70px;
$icon-favorite-y: 150px;
$icon-favorite-offset-x: -70px;
$icon-favorite-offset-y: -150px;
$icon-favorite-width: 20px;
$icon-favorite-height: 20px;
$icon-favorite-total-width: 257px;
$icon-favorite-total-height: 253px;
$icon-favorite-image: '../images/icons-11221108.png';
$icon-favorite: (70px, 150px, -70px, -150px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-favorite', );
$icon-filedown-name: 'icon-filedown';
$icon-filedown-x: 90px;
$icon-filedown-y: 150px;
$icon-filedown-offset-x: -90px;
$icon-filedown-offset-y: -150px;
$icon-filedown-width: 20px;
$icon-filedown-height: 20px;
$icon-filedown-total-width: 257px;
$icon-filedown-total-height: 253px;
$icon-filedown-image: '../images/icons-11221108.png';
$icon-filedown: (90px, 150px, -90px, -150px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-filedown', );
$icon-filefav-name: 'icon-filefav';
$icon-filefav-x: 110px;
$icon-filefav-y: 150px;
$icon-filefav-offset-x: -110px;
$icon-filefav-offset-y: -150px;
$icon-filefav-width: 20px;
$icon-filefav-height: 20px;
$icon-filefav-total-width: 257px;
$icon-filefav-total-height: 253px;
$icon-filefav-image: '../images/icons-11221108.png';
$icon-filefav: (110px, 150px, -110px, -150px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-filefav', );
$icon-filelink-name: 'icon-filelink';
$icon-filelink-x: 130px;
$icon-filelink-y: 150px;
$icon-filelink-offset-x: -130px;
$icon-filelink-offset-y: -150px;
$icon-filelink-width: 20px;
$icon-filelink-height: 20px;
$icon-filelink-total-width: 257px;
$icon-filelink-total-height: 253px;
$icon-filelink-image: '../images/icons-11221108.png';
$icon-filelink: (130px, 150px, -130px, -150px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-filelink', );
$icon-filelock-name: 'icon-filelock';
$icon-filelock-x: 150px;
$icon-filelock-y: 150px;
$icon-filelock-offset-x: -150px;
$icon-filelock-offset-y: -150px;
$icon-filelock-width: 20px;
$icon-filelock-height: 20px;
$icon-filelock-total-width: 257px;
$icon-filelock-total-height: 253px;
$icon-filelock-image: '../images/icons-11221108.png';
$icon-filelock: (150px, 150px, -150px, -150px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-filelock', );
$icon-fileshare-name: 'icon-fileshare';
$icon-fileshare-x: 180px;
$icon-fileshare-y: 0px;
$icon-fileshare-offset-x: -180px;
$icon-fileshare-offset-y: 0px;
$icon-fileshare-width: 20px;
$icon-fileshare-height: 20px;
$icon-fileshare-total-width: 257px;
$icon-fileshare-total-height: 253px;
$icon-fileshare-image: '../images/icons-11221108.png';
$icon-fileshare: (180px, 0px, -180px, 0px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-fileshare', );
$icon-filetag-name: 'icon-filetag';
$icon-filetag-x: 180px;
$icon-filetag-y: 20px;
$icon-filetag-offset-x: -180px;
$icon-filetag-offset-y: -20px;
$icon-filetag-width: 20px;
$icon-filetag-height: 20px;
$icon-filetag-total-width: 257px;
$icon-filetag-total-height: 253px;
$icon-filetag-image: '../images/icons-11221108.png';
$icon-filetag: (180px, 20px, -180px, -20px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-filetag', );
$icon-fileunfav-name: 'icon-fileunfav';
$icon-fileunfav-x: 200px;
$icon-fileunfav-y: 215px;
$icon-fileunfav-offset-x: -200px;
$icon-fileunfav-offset-y: -215px;
$icon-fileunfav-width: 19px;
$icon-fileunfav-height: 19px;
$icon-fileunfav-total-width: 257px;
$icon-fileunfav-total-height: 253px;
$icon-fileunfav-image: '../images/icons-11221108.png';
$icon-fileunfav: (200px, 215px, -200px, -215px, 19px, 19px, 257px, 253px, '../images/icons-11221108.png', 'icon-fileunfav', );
$icon-fileunlock-name: 'icon-fileunlock';
$icon-fileunlock-x: 180px;
$icon-fileunlock-y: 60px;
$icon-fileunlock-offset-x: -180px;
$icon-fileunlock-offset-y: -60px;
$icon-fileunlock-width: 20px;
$icon-fileunlock-height: 20px;
$icon-fileunlock-total-width: 257px;
$icon-fileunlock-total-height: 253px;
$icon-fileunlock-image: '../images/icons-11221108.png';
$icon-fileunlock: (180px, 60px, -180px, -60px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-fileunlock', );
$icon-fileview-name: 'icon-fileview';
$icon-fileview-x: 180px;
$icon-fileview-y: 80px;
$icon-fileview-offset-x: -180px;
$icon-fileview-offset-y: -80px;
$icon-fileview-width: 20px;
$icon-fileview-height: 20px;
$icon-fileview-total-width: 257px;
$icon-fileview-total-height: 253px;
$icon-fileview-image: '../images/icons-11221108.png';
$icon-fileview: (180px, 80px, -180px, -80px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-fileview', );
$icon-folder-coop-name: 'icon-folder-coop';
$icon-folder-coop-x: 150px;
$icon-folder-coop-y: 30px;
$icon-folder-coop-offset-x: -150px;
$icon-folder-coop-offset-y: -30px;
$icon-folder-coop-width: 30px;
$icon-folder-coop-height: 30px;
$icon-folder-coop-total-width: 257px;
$icon-folder-coop-total-height: 253px;
$icon-folder-coop-image: '../images/icons-11221108.png';
$icon-folder-coop: (150px, 30px, -150px, -30px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-folder-coop', );
$icon-folder-name: 'icon-folder';
$icon-folder-x: 150px;
$icon-folder-y: 0px;
$icon-folder-offset-x: -150px;
$icon-folder-offset-y: 0px;
$icon-folder-width: 30px;
$icon-folder-height: 30px;
$icon-folder-total-width: 257px;
$icon-folder-total-height: 253px;
$icon-folder-image: '../images/icons-11221108.png';
$icon-folder: (150px, 0px, -150px, 0px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-folder', );
$icon-fs-name: 'icon-fs';
$icon-fs-x: 180px;
$icon-fs-y: 140px;
$icon-fs-offset-x: -180px;
$icon-fs-offset-y: -140px;
$icon-fs-width: 20px;
$icon-fs-height: 20px;
$icon-fs-total-width: 257px;
$icon-fs-total-height: 253px;
$icon-fs-image: '../images/icons-11221108.png';
$icon-fs: (180px, 140px, -180px, -140px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-fs', );
$icon-grid-name: 'icon-grid';
$icon-grid-x: 0px;
$icon-grid-y: 175px;
$icon-grid-offset-x: 0px;
$icon-grid-offset-y: -175px;
$icon-grid-width: 20px;
$icon-grid-height: 20px;
$icon-grid-total-width: 257px;
$icon-grid-total-height: 253px;
$icon-grid-image: '../images/icons-11221108.png';
$icon-grid: (0px, 175px, 0px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-grid', );
$icon-group-name: 'icon-group';
$icon-group-x: 120px;
$icon-group-y: 120px;
$icon-group-offset-x: -120px;
$icon-group-offset-y: -120px;
$icon-group-width: 30px;
$icon-group-height: 30px;
$icon-group-total-width: 257px;
$icon-group-total-height: 253px;
$icon-group-image: '../images/icons-11221108.png';
$icon-group: (120px, 120px, -120px, -120px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-group', );
$icon-grouplist-name: 'icon-grouplist';
$icon-grouplist-x: 40px;
$icon-grouplist-y: 175px;
$icon-grouplist-offset-x: -40px;
$icon-grouplist-offset-y: -175px;
$icon-grouplist-width: 20px;
$icon-grouplist-height: 20px;
$icon-grouplist-total-width: 257px;
$icon-grouplist-total-height: 253px;
$icon-grouplist-image: '../images/icons-11221108.png';
$icon-grouplist: (40px, 175px, -40px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-grouplist', );
$icon-history-name: 'icon-history';
$icon-history-x: 60px;
$icon-history-y: 175px;
$icon-history-offset-x: -60px;
$icon-history-offset-y: -175px;
$icon-history-width: 20px;
$icon-history-height: 20px;
$icon-history-total-width: 257px;
$icon-history-total-height: 253px;
$icon-history-image: '../images/icons-11221108.png';
$icon-history: (60px, 175px, -60px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-history', );
$icon-html-name: 'icon-html';
$icon-html-x: 90px;
$icon-html-y: 120px;
$icon-html-offset-x: -90px;
$icon-html-offset-y: -120px;
$icon-html-width: 30px;
$icon-html-height: 30px;
$icon-html-total-width: 257px;
$icon-html-total-height: 253px;
$icon-html-image: '../images/icons-11221108.png';
$icon-html: (90px, 120px, -90px, -120px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-html', );
$icon-ios-name: 'icon-ios';
$icon-ios-x: 60px;
$icon-ios-y: 120px;
$icon-ios-offset-x: -60px;
$icon-ios-offset-y: -120px;
$icon-ios-width: 30px;
$icon-ios-height: 30px;
$icon-ios-total-width: 257px;
$icon-ios-total-height: 253px;
$icon-ios-image: '../images/icons-11221108.png';
$icon-ios: (60px, 120px, -60px, -120px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-ios', );
$icon-iso-name: 'icon-iso';
$icon-iso-x: 0px;
$icon-iso-y: 120px;
$icon-iso-offset-x: 0px;
$icon-iso-offset-y: -120px;
$icon-iso-width: 30px;
$icon-iso-height: 30px;
$icon-iso-total-width: 257px;
$icon-iso-total-height: 253px;
$icon-iso-image: '../images/icons-11221108.png';
$icon-iso: (0px, 120px, 0px, -120px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-iso', );
$icon-link-name: 'icon-link';
$icon-link-x: 140px;
$icon-link-y: 175px;
$icon-link-offset-x: -140px;
$icon-link-offset-y: -175px;
$icon-link-width: 20px;
$icon-link-height: 20px;
$icon-link-total-width: 257px;
$icon-link-total-height: 253px;
$icon-link-image: '../images/icons-11221108.png';
$icon-link: (140px, 175px, -140px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-link', );
$icon-list-name: 'icon-list';
$icon-list-x: 160px;
$icon-list-y: 175px;
$icon-list-offset-x: -160px;
$icon-list-offset-y: -175px;
$icon-list-width: 20px;
$icon-list-height: 20px;
$icon-list-total-width: 257px;
$icon-list-total-height: 253px;
$icon-list-image: '../images/icons-11221108.png';
$icon-list: (160px, 175px, -160px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-list', );
$icon-lock-name: 'icon-lock';
$icon-lock-x: 180px;
$icon-lock-y: 175px;
$icon-lock-offset-x: -180px;
$icon-lock-offset-y: -175px;
$icon-lock-width: 20px;
$icon-lock-height: 20px;
$icon-lock-total-width: 257px;
$icon-lock-total-height: 253px;
$icon-lock-image: '../images/icons-11221108.png';
$icon-lock: (180px, 175px, -180px, -175px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-lock', );
$icon-lockstrongbox-name: 'icon-lockstrongbox';
$icon-lockstrongbox-x: 0px;
$icon-lockstrongbox-y: 235px;
$icon-lockstrongbox-offset-x: 0px;
$icon-lockstrongbox-offset-y: -235px;
$icon-lockstrongbox-width: 18px;
$icon-lockstrongbox-height: 18px;
$icon-lockstrongbox-total-width: 257px;
$icon-lockstrongbox-total-height: 253px;
$icon-lockstrongbox-image: '../images/icons-11221108.png';
$icon-lockstrongbox: (0px, 235px, 0px, -235px, 18px, 18px, 257px, 253px, '../images/icons-11221108.png', 'icon-lockstrongbox', );
$icon-log-data-arrow-name: 'icon-log-data-arrow';
$icon-log-data-arrow-x: 240px;
$icon-log-data-arrow-y: 204px;
$icon-log-data-arrow-offset-x: -240px;
$icon-log-data-arrow-offset-y: -204px;
$icon-log-data-arrow-width: 9px;
$icon-log-data-arrow-height: 10px;
$icon-log-data-arrow-total-width: 257px;
$icon-log-data-arrow-total-height: 253px;
$icon-log-data-arrow-image: '../images/icons-11221108.png';
$icon-log-data-arrow: (240px, 204px, -240px, -204px, 9px, 10px, 257px, 253px, '../images/icons-11221108.png', 'icon-log-data-arrow', );
$icon-log-data-select-name: 'icon-log-data-select';
$icon-log-data-select-x: 219px;
$icon-log-data-select-y: 215px;
$icon-log-data-select-offset-x: -219px;
$icon-log-data-select-offset-y: -215px;
$icon-log-data-select-width: 19px;
$icon-log-data-select-height: 18px;
$icon-log-data-select-total-width: 257px;
$icon-log-data-select-total-height: 253px;
$icon-log-data-select-image: '../images/icons-11221108.png';
$icon-log-data-select: (219px, 215px, -219px, -215px, 19px, 18px, 257px, 253px, '../images/icons-11221108.png', 'icon-log-data-select', );
$icon-map-name: 'icon-map';
$icon-map-x: 45px;
$icon-map-y: 45px;
$icon-map-offset-x: -45px;
$icon-map-offset-y: -45px;
$icon-map-width: 30px;
$icon-map-height: 30px;
$icon-map-total-width: 257px;
$icon-map-total-height: 253px;
$icon-map-image: '../images/icons-11221108.png';
$icon-map: (45px, 45px, -45px, -45px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-map', );
$icon-max-45-name: 'icon-max-45';
$icon-max-45-x: 45px;
$icon-max-45-y: 0px;
$icon-max-45-offset-x: -45px;
$icon-max-45-offset-y: 0px;
$icon-max-45-width: 45px;
$icon-max-45-height: 45px;
$icon-max-45-total-width: 257px;
$icon-max-45-total-height: 253px;
$icon-max-45-image: '../images/icons-11221108.png';
$icon-max-45: (45px, 0px, -45px, 0px, 45px, 45px, 257px, 253px, '../images/icons-11221108.png', 'icon-max-45', );
$icon-min-45-name: 'icon-min-45';
$icon-min-45-x: 0px;
$icon-min-45-y: 0px;
$icon-min-45-offset-x: 0px;
$icon-min-45-offset-y: 0px;
$icon-min-45-width: 45px;
$icon-min-45-height: 45px;
$icon-min-45-total-width: 257px;
$icon-min-45-total-height: 253px;
$icon-min-45-image: '../images/icons-11221108.png';
$icon-min-45: (0px, 0px, 0px, 0px, 45px, 45px, 257px, 253px, '../images/icons-11221108.png', 'icon-min-45', );
$icon-more-name: 'icon-more';
$icon-more-x: 200px;
$icon-more-y: 120px;
$icon-more-offset-x: -200px;
$icon-more-offset-y: -120px;
$icon-more-width: 20px;
$icon-more-height: 20px;
$icon-more-total-width: 257px;
$icon-more-total-height: 253px;
$icon-more-image: '../images/icons-11221108.png';
$icon-more: (200px, 120px, -200px, -120px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-more', );
$icon-moremenu-name: 'icon-moremenu';
$icon-moremenu-x: 200px;
$icon-moremenu-y: 140px;
$icon-moremenu-offset-x: -200px;
$icon-moremenu-offset-y: -140px;
$icon-moremenu-width: 20px;
$icon-moremenu-height: 20px;
$icon-moremenu-total-width: 257px;
$icon-moremenu-total-height: 253px;
$icon-moremenu-image: '../images/icons-11221108.png';
$icon-moremenu: (200px, 140px, -200px, -140px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-moremenu', );
$icon-music-name: 'icon-music';
$icon-music-x: 120px;
$icon-music-y: 30px;
$icon-music-offset-x: -120px;
$icon-music-offset-y: -30px;
$icon-music-width: 30px;
$icon-music-height: 30px;
$icon-music-total-width: 257px;
$icon-music-total-height: 253px;
$icon-music-image: '../images/icons-11221108.png';
$icon-music: (120px, 30px, -120px, -30px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-music', );
$icon-pdf-name: 'icon-pdf';
$icon-pdf-x: 90px;
$icon-pdf-y: 90px;
$icon-pdf-offset-x: -90px;
$icon-pdf-offset-y: -90px;
$icon-pdf-width: 30px;
$icon-pdf-height: 30px;
$icon-pdf-total-width: 257px;
$icon-pdf-total-height: 253px;
$icon-pdf-image: '../images/icons-11221108.png';
$icon-pdf: (90px, 90px, -90px, -90px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-pdf', );
$icon-pic-name: 'icon-pic';
$icon-pic-x: 60px;
$icon-pic-y: 90px;
$icon-pic-offset-x: -60px;
$icon-pic-offset-y: -90px;
$icon-pic-width: 30px;
$icon-pic-height: 30px;
$icon-pic-total-width: 257px;
$icon-pic-total-height: 253px;
$icon-pic-image: '../images/icons-11221108.png';
$icon-pic: (60px, 90px, -60px, -90px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-pic', );
$icon-ppt-name: 'icon-ppt';
$icon-ppt-x: 0px;
$icon-ppt-y: 90px;
$icon-ppt-offset-x: 0px;
$icon-ppt-offset-y: -90px;
$icon-ppt-width: 30px;
$icon-ppt-height: 30px;
$icon-ppt-total-width: 257px;
$icon-ppt-total-height: 253px;
$icon-ppt-image: '../images/icons-11221108.png';
$icon-ppt: (0px, 90px, 0px, -90px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-ppt', );
$icon-pptmenu-name: 'icon-pptmenu';
$icon-pptmenu-x: 60px;
$icon-pptmenu-y: 195px;
$icon-pptmenu-offset-x: -60px;
$icon-pptmenu-offset-y: -195px;
$icon-pptmenu-width: 20px;
$icon-pptmenu-height: 20px;
$icon-pptmenu-total-width: 257px;
$icon-pptmenu-total-height: 253px;
$icon-pptmenu-image: '../images/icons-11221108.png';
$icon-pptmenu: (60px, 195px, -60px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-pptmenu', );
$icon-preview-name: 'icon-preview';
$icon-preview-x: 80px;
$icon-preview-y: 195px;
$icon-preview-offset-x: -80px;
$icon-preview-offset-y: -195px;
$icon-preview-width: 20px;
$icon-preview-height: 20px;
$icon-preview-total-width: 257px;
$icon-preview-total-height: 253px;
$icon-preview-image: '../images/icons-11221108.png';
$icon-preview: (80px, 195px, -80px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-preview', );
$icon-property-name: 'icon-property';
$icon-property-x: 100px;
$icon-property-y: 195px;
$icon-property-offset-x: -100px;
$icon-property-offset-y: -195px;
$icon-property-width: 20px;
$icon-property-height: 20px;
$icon-property-total-width: 257px;
$icon-property-total-height: 253px;
$icon-property-image: '../images/icons-11221108.png';
$icon-property: (100px, 195px, -100px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-property', );
$icon-qrcode-name: 'icon-qrcode';
$icon-qrcode-x: 30px;
$icon-qrcode-y: 150px;
$icon-qrcode-offset-x: -30px;
$icon-qrcode-offset-y: -150px;
$icon-qrcode-width: 20px;
$icon-qrcode-height: 20px;
$icon-qrcode-total-width: 257px;
$icon-qrcode-total-height: 253px;
$icon-qrcode-image: '../images/icons-11221108.png';
$icon-qrcode: (30px, 150px, -30px, -150px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-qrcode', );
$icon-readacl-name: 'icon-readacl';
$icon-readacl-x: 240px;
$icon-readacl-y: 0px;
$icon-readacl-offset-x: -240px;
$icon-readacl-offset-y: 0px;
$icon-readacl-width: 17px;
$icon-readacl-height: 20px;
$icon-readacl-total-width: 257px;
$icon-readacl-total-height: 253px;
$icon-readacl-image: '../images/icons-11221108.png';
$icon-readacl: (240px, 0px, -240px, 0px, 17px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-readacl', );
$icon-receive-name: 'icon-receive';
$icon-receive-x: 160px;
$icon-receive-y: 195px;
$icon-receive-offset-x: -160px;
$icon-receive-offset-y: -195px;
$icon-receive-width: 20px;
$icon-receive-height: 20px;
$icon-receive-total-width: 257px;
$icon-receive-total-height: 253px;
$icon-receive-image: '../images/icons-11221108.png';
$icon-receive: (160px, 195px, -160px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-receive', );
$icon-recent-name: 'icon-recent';
$icon-recent-x: 180px;
$icon-recent-y: 195px;
$icon-recent-offset-x: -180px;
$icon-recent-offset-y: -195px;
$icon-recent-width: 20px;
$icon-recent-height: 20px;
$icon-recent-total-width: 257px;
$icon-recent-total-height: 253px;
$icon-recent-image: '../images/icons-11221108.png';
$icon-recent: (180px, 195px, -180px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-recent', );
$icon-recive-name: 'icon-recive';
$icon-recive-x: 200px;
$icon-recive-y: 195px;
$icon-recive-offset-x: -200px;
$icon-recive-offset-y: -195px;
$icon-recive-width: 20px;
$icon-recive-height: 20px;
$icon-recive-total-width: 257px;
$icon-recive-total-height: 253px;
$icon-recive-image: '../images/icons-11221108.png';
$icon-recive: (200px, 195px, -200px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-recive', );
$icon-recycle-name: 'icon-recycle';
$icon-recycle-x: 220px;
$icon-recycle-y: 0px;
$icon-recycle-offset-x: -220px;
$icon-recycle-offset-y: 0px;
$icon-recycle-width: 20px;
$icon-recycle-height: 20px;
$icon-recycle-total-width: 257px;
$icon-recycle-total-height: 253px;
$icon-recycle-image: '../images/icons-11221108.png';
$icon-recycle: (220px, 0px, -220px, 0px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-recycle', );
$icon-remove-blue-name: 'icon-remove-blue';
$icon-remove-blue-x: 220px;
$icon-remove-blue-y: 20px;
$icon-remove-blue-offset-x: -220px;
$icon-remove-blue-offset-y: -20px;
$icon-remove-blue-width: 20px;
$icon-remove-blue-height: 20px;
$icon-remove-blue-total-width: 257px;
$icon-remove-blue-total-height: 253px;
$icon-remove-blue-image: '../images/icons-11221108.png';
$icon-remove-blue: (220px, 20px, -220px, -20px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-remove-blue', );
$icon-rename-name: 'icon-rename';
$icon-rename-x: 220px;
$icon-rename-y: 40px;
$icon-rename-offset-x: -220px;
$icon-rename-offset-y: -40px;
$icon-rename-width: 20px;
$icon-rename-height: 20px;
$icon-rename-total-width: 257px;
$icon-rename-total-height: 253px;
$icon-rename-image: '../images/icons-11221108.png';
$icon-rename: (220px, 40px, -220px, -40px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-rename', );
$icon-restore-blue-name: 'icon-restore-blue';
$icon-restore-blue-x: 220px;
$icon-restore-blue-y: 60px;
$icon-restore-blue-offset-x: -220px;
$icon-restore-blue-offset-y: -60px;
$icon-restore-blue-width: 20px;
$icon-restore-blue-height: 20px;
$icon-restore-blue-total-width: 257px;
$icon-restore-blue-total-height: 253px;
$icon-restore-blue-image: '../images/icons-11221108.png';
$icon-restore-blue: (220px, 60px, -220px, -60px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-restore-blue', );
$icon-restore-gray-name: 'icon-restore-gray';
$icon-restore-gray-x: 220px;
$icon-restore-gray-y: 80px;
$icon-restore-gray-offset-x: -220px;
$icon-restore-gray-offset-y: -80px;
$icon-restore-gray-width: 20px;
$icon-restore-gray-height: 20px;
$icon-restore-gray-total-width: 257px;
$icon-restore-gray-total-height: 253px;
$icon-restore-gray-image: '../images/icons-11221108.png';
$icon-restore-gray: (220px, 80px, -220px, -80px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-restore-gray', );
$icon-role-name: 'icon-role';
$icon-role-x: 240px;
$icon-role-y: 86px;
$icon-role-offset-x: -240px;
$icon-role-offset-y: -86px;
$icon-role-width: 16px;
$icon-role-height: 16px;
$icon-role-total-width: 257px;
$icon-role-total-height: 253px;
$icon-role-image: '../images/icons-11221108.png';
$icon-role: (240px, 86px, -240px, -86px, 16px, 16px, 257px, 253px, '../images/icons-11221108.png', 'icon-role', );
$icon-search-name: 'icon-search';
$icon-search-x: 240px;
$icon-search-y: 70px;
$icon-search-offset-x: -240px;
$icon-search-offset-y: -70px;
$icon-search-width: 16px;
$icon-search-height: 16px;
$icon-search-total-width: 257px;
$icon-search-total-height: 253px;
$icon-search-image: '../images/icons-11221108.png';
$icon-search: (240px, 70px, -240px, -70px, 16px, 16px, 257px, 253px, '../images/icons-11221108.png', 'icon-search', );
$icon-sendlink-name: 'icon-sendlink';
$icon-sendlink-x: 220px;
$icon-sendlink-y: 140px;
$icon-sendlink-offset-x: -220px;
$icon-sendlink-offset-y: -140px;
$icon-sendlink-width: 20px;
$icon-sendlink-height: 20px;
$icon-sendlink-total-width: 257px;
$icon-sendlink-total-height: 253px;
$icon-sendlink-image: '../images/icons-11221108.png';
$icon-sendlink: (220px, 140px, -220px, -140px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-sendlink', );
$icon-sensitive-name: 'icon-sensitive';
$icon-sensitive-x: 240px;
$icon-sensitive-y: 102px;
$icon-sensitive-offset-x: -240px;
$icon-sensitive-offset-y: -102px;
$icon-sensitive-width: 16px;
$icon-sensitive-height: 16px;
$icon-sensitive-total-width: 257px;
$icon-sensitive-total-height: 253px;
$icon-sensitive-image: '../images/icons-11221108.png';
$icon-sensitive: (240px, 102px, -240px, -102px, 16px, 16px, 257px, 253px, '../images/icons-11221108.png', 'icon-sensitive', );
$icon-setting-name: 'icon-setting';
$icon-setting-x: 240px;
$icon-setting-y: 133px;
$icon-setting-offset-x: -240px;
$icon-setting-offset-y: -133px;
$icon-setting-width: 15px;
$icon-setting-height: 15px;
$icon-setting-total-width: 257px;
$icon-setting-total-height: 253px;
$icon-setting-image: '../images/icons-11221108.png';
$icon-setting: (240px, 133px, -240px, -133px, 15px, 15px, 257px, 253px, '../images/icons-11221108.png', 'icon-setting', );
$icon-share-set-tip-name: 'icon-share-set-tip';
$icon-share-set-tip-x: 240px;
$icon-share-set-tip-y: 118px;
$icon-share-set-tip-offset-x: -240px;
$icon-share-set-tip-offset-y: -118px;
$icon-share-set-tip-width: 15px;
$icon-share-set-tip-height: 15px;
$icon-share-set-tip-total-width: 257px;
$icon-share-set-tip-total-height: 253px;
$icon-share-set-tip-image: '../images/icons-11221108.png';
$icon-share-set-tip: (240px, 118px, -240px, -118px, 15px, 15px, 257px, 253px, '../images/icons-11221108.png', 'icon-share-set-tip', );
$icon-share-name: 'icon-share';
$icon-share-x: 20px;
$icon-share-y: 215px;
$icon-share-offset-x: -20px;
$icon-share-offset-y: -215px;
$icon-share-width: 20px;
$icon-share-height: 20px;
$icon-share-total-width: 257px;
$icon-share-total-height: 253px;
$icon-share-image: '../images/icons-11221108.png';
$icon-share: (20px, 215px, -20px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-share', );
$icon-small-empty-personal-file-name: 'icon-small-empty-personal-file';
$icon-small-empty-personal-file-x: 150px;
$icon-small-empty-personal-file-y: 120px;
$icon-small-empty-personal-file-offset-x: -150px;
$icon-small-empty-personal-file-offset-y: -120px;
$icon-small-empty-personal-file-width: 30px;
$icon-small-empty-personal-file-height: 25px;
$icon-small-empty-personal-file-total-width: 257px;
$icon-small-empty-personal-file-total-height: 253px;
$icon-small-empty-personal-file-image: '../images/icons-11221108.png';
$icon-small-empty-personal-file: (150px, 120px, -150px, -120px, 30px, 25px, 257px, 253px, '../images/icons-11221108.png', 'icon-small-empty-personal-file', );
$icon-small-favorite-mask-name: 'icon-small-favorite-mask';
$icon-small-favorite-mask-x: 90px;
$icon-small-favorite-mask-y: 60px;
$icon-small-favorite-mask-offset-x: -90px;
$icon-small-favorite-mask-offset-y: -60px;
$icon-small-favorite-mask-width: 30px;
$icon-small-favorite-mask-height: 30px;
$icon-small-favorite-mask-total-width: 257px;
$icon-small-favorite-mask-total-height: 253px;
$icon-small-favorite-mask-image: '../images/icons-11221108.png';
$icon-small-favorite-mask: (90px, 60px, -90px, -60px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-small-favorite-mask', );
$icon-small-personal-file-name: 'icon-small-personal-file';
$icon-small-personal-file-x: 0px;
$icon-small-personal-file-y: 150px;
$icon-small-personal-file-offset-x: 0px;
$icon-small-personal-file-offset-y: -150px;
$icon-small-personal-file-width: 30px;
$icon-small-personal-file-height: 25px;
$icon-small-personal-file-total-width: 257px;
$icon-small-personal-file-total-height: 253px;
$icon-small-personal-file-image: '../images/icons-11221108.png';
$icon-small-personal-file: (0px, 150px, 0px, -150px, 30px, 25px, 257px, 253px, '../images/icons-11221108.png', 'icon-small-personal-file', );
$icon-statistics-name: 'icon-statistics';
$icon-statistics-x: 240px;
$icon-statistics-y: 54px;
$icon-statistics-offset-x: -240px;
$icon-statistics-offset-y: -54px;
$icon-statistics-width: 16px;
$icon-statistics-height: 16px;
$icon-statistics-total-width: 257px;
$icon-statistics-total-height: 253px;
$icon-statistics-image: '../images/icons-11221108.png';
$icon-statistics: (240px, 54px, -240px, -54px, 16px, 16px, 257px, 253px, '../images/icons-11221108.png', 'icon-statistics', );
$icon-strongbox-name: 'icon-strongbox';
$icon-strongbox-x: 90px;
$icon-strongbox-y: 30px;
$icon-strongbox-offset-x: -90px;
$icon-strongbox-offset-y: -30px;
$icon-strongbox-width: 30px;
$icon-strongbox-height: 30px;
$icon-strongbox-total-width: 257px;
$icon-strongbox-total-height: 253px;
$icon-strongbox-image: '../images/icons-11221108.png';
$icon-strongbox: (90px, 30px, -90px, -30px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-strongbox', );
$icon-strongboxin-name: 'icon-strongboxin';
$icon-strongboxin-x: 140px;
$icon-strongboxin-y: 215px;
$icon-strongboxin-offset-x: -140px;
$icon-strongboxin-offset-y: -215px;
$icon-strongboxin-width: 20px;
$icon-strongboxin-height: 20px;
$icon-strongboxin-total-width: 257px;
$icon-strongboxin-total-height: 253px;
$icon-strongboxin-image: '../images/icons-11221108.png';
$icon-strongboxin: (140px, 215px, -140px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-strongboxin', );
$icon-strongboxremove-name: 'icon-strongboxremove';
$icon-strongboxremove-x: 100px;
$icon-strongboxremove-y: 215px;
$icon-strongboxremove-offset-x: -100px;
$icon-strongboxremove-offset-y: -215px;
$icon-strongboxremove-width: 20px;
$icon-strongboxremove-height: 20px;
$icon-strongboxremove-total-width: 257px;
$icon-strongboxremove-total-height: 253px;
$icon-strongboxremove-image: '../images/icons-11221108.png';
$icon-strongboxremove: (100px, 215px, -100px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-strongboxremove', );
$icon-subscribe-name: 'icon-subscribe';
$icon-subscribe-x: 0px;
$icon-subscribe-y: 215px;
$icon-subscribe-offset-x: 0px;
$icon-subscribe-offset-y: -215px;
$icon-subscribe-width: 20px;
$icon-subscribe-height: 20px;
$icon-subscribe-total-width: 257px;
$icon-subscribe-total-height: 253px;
$icon-subscribe-image: '../images/icons-11221108.png';
$icon-subscribe: (0px, 215px, 0px, -215px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-subscribe', );
$icon-support-name: 'icon-support';
$icon-support-x: 220px;
$icon-support-y: 180px;
$icon-support-offset-x: -220px;
$icon-support-offset-y: -180px;
$icon-support-width: 20px;
$icon-support-height: 20px;
$icon-support-total-width: 257px;
$icon-support-total-height: 253px;
$icon-support-image: '../images/icons-11221108.png';
$icon-support: (220px, 180px, -220px, -180px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-support', );
$icon-tag-name: 'icon-tag';
$icon-tag-x: 220px;
$icon-tag-y: 160px;
$icon-tag-offset-x: -220px;
$icon-tag-offset-y: -160px;
$icon-tag-width: 20px;
$icon-tag-height: 20px;
$icon-tag-total-width: 257px;
$icon-tag-total-height: 253px;
$icon-tag-image: '../images/icons-11221108.png';
$icon-tag: (220px, 160px, -220px, -160px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-tag', );
$icon-tags-delete-blue-name: 'icon-tags-delete-blue';
$icon-tags-delete-blue-x: 240px;
$icon-tags-delete-blue-y: 162px;
$icon-tags-delete-blue-offset-x: -240px;
$icon-tags-delete-blue-offset-y: -162px;
$icon-tags-delete-blue-width: 14px;
$icon-tags-delete-blue-height: 14px;
$icon-tags-delete-blue-total-width: 257px;
$icon-tags-delete-blue-total-height: 253px;
$icon-tags-delete-blue-image: '../images/icons-11221108.png';
$icon-tags-delete-blue: (240px, 162px, -240px, -162px, 14px, 14px, 257px, 253px, '../images/icons-11221108.png', 'icon-tags-delete-blue', );
$icon-tags-delete-gray-name: 'icon-tags-delete-gray';
$icon-tags-delete-gray-x: 240px;
$icon-tags-delete-gray-y: 148px;
$icon-tags-delete-gray-offset-x: -240px;
$icon-tags-delete-gray-offset-y: -148px;
$icon-tags-delete-gray-width: 14px;
$icon-tags-delete-gray-height: 14px;
$icon-tags-delete-gray-total-width: 257px;
$icon-tags-delete-gray-total-height: 253px;
$icon-tags-delete-gray-image: '../images/icons-11221108.png';
$icon-tags-delete-gray: (240px, 148px, -240px, -148px, 14px, 14px, 257px, 253px, '../images/icons-11221108.png', 'icon-tags-delete-gray', );
$icon-tags-delete-white-hover-name: 'icon-tags-delete-white-hover';
$icon-tags-delete-white-hover-x: 240px;
$icon-tags-delete-white-hover-y: 176px;
$icon-tags-delete-white-hover-offset-x: -240px;
$icon-tags-delete-white-hover-offset-y: -176px;
$icon-tags-delete-white-hover-width: 14px;
$icon-tags-delete-white-hover-height: 14px;
$icon-tags-delete-white-hover-total-width: 257px;
$icon-tags-delete-white-hover-total-height: 253px;
$icon-tags-delete-white-hover-image: '../images/icons-11221108.png';
$icon-tags-delete-white-hover: (240px, 176px, -240px, -176px, 14px, 14px, 257px, 253px, '../images/icons-11221108.png', 'icon-tags-delete-white-hover', );
$icon-tags-delete-white-name: 'icon-tags-delete-white';
$icon-tags-delete-white-x: 240px;
$icon-tags-delete-white-y: 190px;
$icon-tags-delete-white-offset-x: -240px;
$icon-tags-delete-white-offset-y: -190px;
$icon-tags-delete-white-width: 14px;
$icon-tags-delete-white-height: 14px;
$icon-tags-delete-white-total-width: 257px;
$icon-tags-delete-white-total-height: 253px;
$icon-tags-delete-white-image: '../images/icons-11221108.png';
$icon-tags-delete-white: (240px, 190px, -240px, -190px, 14px, 14px, 257px, 253px, '../images/icons-11221108.png', 'icon-tags-delete-white', );
$icon-txt-name: 'icon-txt';
$icon-txt-x: 90px;
$icon-txt-y: 0px;
$icon-txt-offset-x: -90px;
$icon-txt-offset-y: 0px;
$icon-txt-width: 30px;
$icon-txt-height: 30px;
$icon-txt-total-width: 257px;
$icon-txt-total-height: 253px;
$icon-txt-image: '../images/icons-11221108.png';
$icon-txt: (90px, 0px, -90px, 0px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-txt', );
$icon-txtmenu-name: 'icon-txtmenu';
$icon-txtmenu-x: 220px;
$icon-txtmenu-y: 100px;
$icon-txtmenu-offset-x: -220px;
$icon-txtmenu-offset-y: -100px;
$icon-txtmenu-width: 20px;
$icon-txtmenu-height: 20px;
$icon-txtmenu-total-width: 257px;
$icon-txtmenu-total-height: 253px;
$icon-txtmenu-image: '../images/icons-11221108.png';
$icon-txtmenu: (220px, 100px, -220px, -100px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-txtmenu', );
$icon-uploadfile-name: 'icon-uploadfile';
$icon-uploadfile-x: 140px;
$icon-uploadfile-y: 195px;
$icon-uploadfile-offset-x: -140px;
$icon-uploadfile-offset-y: -195px;
$icon-uploadfile-width: 20px;
$icon-uploadfile-height: 20px;
$icon-uploadfile-total-width: 257px;
$icon-uploadfile-total-height: 253px;
$icon-uploadfile-image: '../images/icons-11221108.png';
$icon-uploadfile: (140px, 195px, -140px, -195px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-uploadfile', );
$icon-uploadfolder-name: 'icon-uploadfolder';
$icon-uploadfolder-x: 200px;
$icon-uploadfolder-y: 40px;
$icon-uploadfolder-offset-x: -200px;
$icon-uploadfolder-offset-y: -40px;
$icon-uploadfolder-width: 20px;
$icon-uploadfolder-height: 20px;
$icon-uploadfolder-total-width: 257px;
$icon-uploadfolder-total-height: 253px;
$icon-uploadfolder-image: '../images/icons-11221108.png';
$icon-uploadfolder: (200px, 40px, -200px, -40px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-uploadfolder', );
$icon-uploadnew-name: 'icon-uploadnew';
$icon-uploadnew-x: 200px;
$icon-uploadnew-y: 20px;
$icon-uploadnew-offset-x: -200px;
$icon-uploadnew-offset-y: -20px;
$icon-uploadnew-width: 20px;
$icon-uploadnew-height: 20px;
$icon-uploadnew-total-width: 257px;
$icon-uploadnew-total-height: 253px;
$icon-uploadnew-image: '../images/icons-11221108.png';
$icon-uploadnew: (200px, 20px, -200px, -20px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-uploadnew', );
$icon-user-blue-name: 'icon-user-blue';
$icon-user-blue-x: 240px;
$icon-user-blue-y: 20px;
$icon-user-blue-offset-x: -240px;
$icon-user-blue-offset-y: -20px;
$icon-user-blue-width: 17px;
$icon-user-blue-height: 17px;
$icon-user-blue-total-width: 257px;
$icon-user-blue-total-height: 253px;
$icon-user-blue-image: '../images/icons-11221108.png';
$icon-user-blue: (240px, 20px, -240px, -20px, 17px, 17px, 257px, 253px, '../images/icons-11221108.png', 'icon-user-blue', );
$icon-user-gray-name: 'icon-user-gray';
$icon-user-gray-x: 240px;
$icon-user-gray-y: 37px;
$icon-user-gray-offset-x: -240px;
$icon-user-gray-offset-y: -37px;
$icon-user-gray-width: 17px;
$icon-user-gray-height: 17px;
$icon-user-gray-total-width: 257px;
$icon-user-gray-total-height: 253px;
$icon-user-gray-image: '../images/icons-11221108.png';
$icon-user-gray: (240px, 37px, -240px, -37px, 17px, 17px, 257px, 253px, '../images/icons-11221108.png', 'icon-user-gray', );
$icon-user-img-down-arrow-name: 'icon-user-img-down-arrow';
$icon-user-img-down-arrow-x: 240px;
$icon-user-img-down-arrow-y: 214px;
$icon-user-img-down-arrow-offset-x: -240px;
$icon-user-img-down-arrow-offset-y: -214px;
$icon-user-img-down-arrow-width: 10px;
$icon-user-img-down-arrow-height: 6px;
$icon-user-img-down-arrow-total-width: 257px;
$icon-user-img-down-arrow-total-height: 253px;
$icon-user-img-down-arrow-image: '../images/icons-11221108.png';
$icon-user-img-down-arrow: (240px, 214px, -240px, -214px, 10px, 6px, 257px, 253px, '../images/icons-11221108.png', 'icon-user-img-down-arrow', );
$icon-video-name: 'icon-video';
$icon-video-x: 30px;
$icon-video-y: 120px;
$icon-video-offset-x: -30px;
$icon-video-offset-y: -120px;
$icon-video-width: 30px;
$icon-video-height: 30px;
$icon-video-total-width: 257px;
$icon-video-total-height: 253px;
$icon-video-image: '../images/icons-11221108.png';
$icon-video: (30px, 120px, -30px, -120px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-video', );
$icon-word-name: 'icon-word';
$icon-word-x: 120px;
$icon-word-y: 90px;
$icon-word-offset-x: -120px;
$icon-word-offset-y: -90px;
$icon-word-width: 30px;
$icon-word-height: 30px;
$icon-word-total-width: 257px;
$icon-word-total-height: 253px;
$icon-word-image: '../images/icons-11221108.png';
$icon-word: (120px, 90px, -120px, -90px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-word', );
$icon-wordmenu-name: 'icon-wordmenu';
$icon-wordmenu-x: 180px;
$icon-wordmenu-y: 40px;
$icon-wordmenu-offset-x: -180px;
$icon-wordmenu-offset-y: -40px;
$icon-wordmenu-width: 20px;
$icon-wordmenu-height: 20px;
$icon-wordmenu-total-width: 257px;
$icon-wordmenu-total-height: 253px;
$icon-wordmenu-image: '../images/icons-11221108.png';
$icon-wordmenu: (180px, 40px, -180px, -40px, 20px, 20px, 257px, 253px, '../images/icons-11221108.png', 'icon-wordmenu', );
$icon-zip-name: 'icon-zip';
$icon-zip-x: 120px;
$icon-zip-y: 60px;
$icon-zip-offset-x: -120px;
$icon-zip-offset-y: -60px;
$icon-zip-width: 30px;
$icon-zip-height: 30px;
$icon-zip-total-width: 257px;
$icon-zip-total-height: 253px;
$icon-zip-image: '../images/icons-11221108.png';
$icon-zip: (120px, 60px, -120px, -60px, 30px, 30px, 257px, 253px, '../images/icons-11221108.png', 'icon-zip', );
$icon-width: 257px;
$icon-height: 253px;
$icon-image: '../images/icons-11221108.png';
$icon-sprites: ($c-android, $c-mac, $c-p-c, $c-windows, $c-i-o-s, $c-more, $c-qr, $icon-addfolder, $icon-android, $icon-arrow-down, $icon-arrow-right, $icon-blank, $icon-cancel-blue, $icon-cancel-gray, $icon-clear, $icon-close-20, $icon-close-45, $icon-comment, $icon-companybaseinfo, $icon-companycustom, $icon-coop, $icon-copy, $icon-delete, $icon-edit-blue, $icon-edit, $icon-excel, $icon-excelmenu, $icon-exe, $icon-favorite, $icon-filedown, $icon-filefav, $icon-filelink, $icon-filelock, $icon-fileshare, $icon-filetag, $icon-fileunfav, $icon-fileunlock, $icon-fileview, $icon-folder-coop, $icon-folder, $icon-fs, $icon-grid, $icon-group, $icon-grouplist, $icon-history, $icon-html, $icon-ios, $icon-iso, $icon-link, $icon-list, $icon-lock, $icon-lockstrongbox, $icon-log-data-arrow, $icon-log-data-select, $icon-map, $icon-max-45, $icon-min-45, $icon-more, $icon-moremenu, $icon-music, $icon-pdf, $icon-pic, $icon-ppt, $icon-pptmenu, $icon-preview, $icon-property, $icon-qrcode, $icon-readacl, $icon-receive, $icon-recent, $icon-recive, $icon-recycle, $icon-remove-blue, $icon-rename, $icon-restore-blue, $icon-restore-gray, $icon-role, $icon-search, $icon-sendlink, $icon-sensitive, $icon-setting, $icon-share-set-tip, $icon-share, $icon-small-empty-personal-file, $icon-small-favorite-mask, $icon-small-personal-file, $icon-statistics, $icon-strongbox, $icon-strongboxin, $icon-strongboxremove, $icon-subscribe, $icon-support, $icon-tag, $icon-tags-delete-blue, $icon-tags-delete-gray, $icon-tags-delete-white-hover, $icon-tags-delete-white, $icon-txt, $icon-txtmenu, $icon-uploadfile, $icon-uploadfolder, $icon-uploadnew, $icon-user-blue, $icon-user-gray, $icon-user-img-down-arrow, $icon-video, $icon-word, $icon-wordmenu, $icon-zip, );
$icon: (257px, 253px, '../images/icons-11221108.png', $icon-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
